<!DOCTYPE html>
<html>

<head>
  <title>ChartJS - Pie</title>
  <link type="text/css" rel="stylesheet" href="../css/piechart.css" />
  <style>
    body {
      height: 100%;
      width: 100%;
      margin: 0px;
    }
  </style>

</head>

<body>
  <div id="share">

      </div>
    <div id="toshare" style="height: 100%;
    width: 100%;
    margin: 0px;">
    <div class="chart-container">
      <div class="pie-chart-container">
        <canvas id="pie-chartcanvas-1"></canvas>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="chart-container">
      <div class="pie-chart-container">
        <canvas id="pie-chartcanvas-2"></canvas>
      </div>
    </div>
      
  </div>



  <!-- javascript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  <script src="../js/piechart.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
    <script src='../js/share.js'></script>
  <script>
    get()
  </script>
</body>

</html>
