<!DOCTYPE html>
<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
  <div id="content">
    <h1>User Data</h1>
    <ul>
      <li>${userInfo.email}</li>
      <li>${userInfo.first_name}</li>
      <li>${userInfo.last_name}</li>
      <li>${userInfo.password}</li>
      <li>${(userInfo.admin)? 'True': 'False'}</li>
    </ul>
  </div>
  <button onclick="window.location='/portal'">Portal</button>
  <!-- <div id="editor"></div> -->

</body>

</html>
