<!DOCTYPE html>
<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>
</head>

<body>
  <div id="content">
    <h1>User Data</h1>
    <ul>
      <li>${userInfo.email}</li>
      <li>${userInfo.first_name}</li>
      <li>${userInfo.last_name}</li>
      <li>${userInfo.password}</li>
      <li>${(userInfo.admin)? 'True': 'False'}</li>
    </ul>
  </div>
  <button onclick="window.location='/portal'">Portal</button>
  <!-- <div id="editor"></div> -->
  <button id="cmd">Generate PDF</button>

  <button id="create" onclick="genLink()">Creat Link</button>

  <button onclick="email()">email pdf</button>

  <script>
    var doc = new jsPDF();
    // var specialElementHandlers = {
    //   '#editor': function(element, renderer) {
    //     return true;
    //   }
    // };

    $('#cmd').click(function() {
      doc.fromHTML($('#content').html(), 15, 15, {
        'width': 170,
        // 'elementHandlers': specialElementHandlers
      });
      console.log(window.btoa(doc.output()))
      doc.save('sample-file.pdf');
    });

    function genLink() {
      console.log('heelo');
      doc.fromHTML($('#content').html(), 15, 15, {
        'width': 170,
        // 'elementHandlers': specialElementHandlers
      });
      console.log(window.btoa(doc.output()))
      $.ajax({
        type: "post",
        url: "http://localhost:4000/makelink",
        credentials: 'same-origin',
        data: {
          encoded: window.btoa(doc.output())
        },
        success: function(msg) {
          console.log(msg);
        }
      });
    }

    function email(){
      doc.fromHTML($('#content').html(), 15, 15, {
        'width': 170,
        // 'elementHandlers': specialElementHandlers
      });
      console.log(window.btoa(doc.output()))
      $.ajax({
        type: "post",
        url: "http://localhost:4000/email",
        credentials: 'same-origin',
        data: {
          pdf: window.btoa(doc.output())
        },
        success: function(msg) {
          console.log(msg);
        }
      });
    }
    // This code is collected but useful, click below to jsfiddle link.
  </script>



</body>

</html>
