<!DOCTYPE html>
<html>
  <head>
    <title>Environment</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/testchart.css">
  </head>
  <body>
    <div class="wrapper">
      <h1>Environment Data</h1>
      <canvas id="myChart" width="1600" height="900"></canvas>
    </div>

    <div class = "wrapper">
      <h1>Users Operating Systems</h1>
      <canvas id="myPieChart" width="1600" height="900"></canvas>
    </div>

    <script src="../js/script.js"></script>
  </body>
</html>
