<!DOCTYPE html>
<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://unpkg.com/cytoscape@3.5.0/dist/cytoscape.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
  <script src='../js/share.js'></script>

  <style>
    html,
    body {
      height: 100%;
      width: 80%;
      margin: 0px;
    }

    ,
    canvas {
      background: #FFFFFF;
    }
  </style>
  <script>
    function get() {
      return new Promise((resolve, reject) => {

        $.ajax({
          type: "GET",
          url: "/charts/visitation",
          //data: data
          success: function(data) {
            var cy = window.cy = cytoscape({
              container: document.getElementById('toshare'),

              elements: data,
              style: [{
                  selector: 'node',
                  style: {
                    'label': 'data(id)',
                    'width': 'data(width)',
                    'height': 'data(height)',
                    'background-color': 'data(color)'
                  }
                },
                {
                  selector: 'edge',
                  style: {
                    'target-arrow-color': '#ccc',
                    'label': 'data(id)',
                    'width': 'data(width)',
                    'curve-style': 'bezier',
                    'target-arrow-shape': 'triangle'
                  }
                }
              ]

            });
          },
          headers: {
            "Content-type": "application/json"
          },
          xhrFields: {
            withCredentials: true
          },
        })
        resolve();

      });
    }
  </script>
</head>

<body>
  <div id="share">

  </div>
  <div id="toshare" style="height: 100%;
    width: 100%;
    margin: 0px;">
  </div>



  <script>
    $.ajax({
      type: "GET",
      url: "/charts/visitation",
      //data: data
      success: function(data) {
        var cy = window.cy = cytoscape({
          container: document.getElementById('toshare'),

          elements: data,
          style: [{
              selector: 'node',
              style: {
                'label': 'data(id)',
                'width': 'data(width)',
                'height': 'data(height)',
                'background-color': 'data(color)'
              }
            },
            {
              selector: 'edge',
              style: {
                'target-arrow-color': '#ccc',
                'label': 'data(id)',
                'width': 'data(width)',
                'curve-style': 'bezier',
                'target-arrow-shape': 'triangle'
              }
            }
          ]

        });
      },
      headers: {
        "Content-type": "application/json"
      },
      xhrFields: {
        withCredentials: true
      },
    })
  </script>


</body>

</html>
