<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="../js/styles.css">
  <meta charset="UTF-8">
  <title>Tribute Page for LN</title>
  <meta name="viewport" content="width=device-width">
  <!-- favicon code -->
  <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
  <!-- <link rel="manifest" href="/favicon/site.webmanifest"> -->
  <link rel="mask-icon" href="../favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <!-- end of favicon -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="../js/collect.js"></script>
  <script type="text/javascript" src="../js/buttons.js"></script>

</head>
<!-- onload="submitData({'id':'body-pointless'})" -->

<body>
  <div class="container">
    <h1>LilNapkin Needs Your Help!</h1>
    <button class="button" id="route-home">Back</button>
    <button class="button" id="route-donate">Donate</button>
    <button class="button" id="event-learn">Learn Something</button>


    <br />
    <br />

    <img class="image" id="candle" height="350" width="442" src="../images/meme-boy-gets-paid.jpg" alt="Lil candle">

    <br />
    <br />
    <p>
      Lilnapkin relief fund gives to other horses and protects them from what happened to Lil Napkin.
    </p>
    <br />
    <br />

    <img class="image" id="lilnapkin" height="442" width="442" src="../images/lil-napkin-min.jpg" alt="Lil Napkin">

    <p id="caption">Let him live on forever in our hearts.</p>
    <br />


  </div>
</body>

</html>
